.cart-item-thumbnail {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 10px;
}

.item-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
}

.item-name {
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
}

.item-quantity, .item-price, .item-total-price {
    text-align: left;
}
