.wishlist-widget {
    position: relative;
    display: flex;
    align-items: center;
}

.nav-link-inner {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}
