/* src/App.css */
.app-container {
    background-color: #ffe6e6;
}

:root {
    --background-color: #ffffff;
    --text-color: #000000;
}

body.light-mode {
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark-mode {
    --background-color: #121212;
    --text-color: #ffffff;
    background-color: var(--background-color);
    color: var(--text-color);
}
