/* app.css */

/* Agrega el estilo al contenedor principal */
.app-container {
    background-color: #ffe6e6; /* Color de fondo rosado claro para toda la página */
}

/* Estilos adicionales */
.navContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.linksContainer {
    display: flex;
    justify-content: space-between;
    width: 30%;
    align-items: center;
}

.cartWidget {
    width: 4rem;
}

.link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: var(--background-color);
    color: var(--text-color);
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.login-container .error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.login-container form div {
    margin-bottom: 15px;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
}

.login-container input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background: #0056b3;
}
/* src/App.css */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
}

body.light-mode {
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark-mode {
    --background-color: #121212;
    --text-color: #ffffff;
    background-color: var(--background-color);
    color: var(--text-color);
}

.signup-container, .login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: var(--background-color);
    color: var(--text-color);
}

.signup-container h2, .login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.signup-container .error, .login-container .error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.signup-container form div, .login-container form div {
    margin-bottom: 15px;
}

.signup-container label, .login-container label {
    display: block;
    margin-bottom: 5px;
}

.signup-container input, .login-container input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.signup-container button, .login-container button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-container button:hover, .login-container button:hover {
    background: #0056b3;
}

.signup-container button svg, .login-container button svg {
    margin-right: 8px;
}
