/* CartModalContainer.css */
.cart-content {
    padding: 20px;
    font-family: Arial, sans-serif; /* Ensures text is readable */
}

.cart-items-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 300px; /* Establece un alto máximo para la lista de elementos */
    overflow-y: auto; /* Permite desplazamiento vertical si el contenido excede el alto máximo */
}

.cart-item-thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    font-size: 0.9em;
}

.item-details {
    flex: 3; /* gives more space to item details */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.item-name {
    flex: 2; /* allocates twice as much space to the name */
    margin-right: 10px; /* adds space between the name and the quantity */
}

.item-quantity, .item-total-price {
    flex: 1; /* equal space for quantity and total price */
    text-align: right;
}

.cart-total, .final-total, .discount {
    margin-top: 10px;
    font-size: 1.1em;
    text-align: right;
    padding-top: 5px;
    border-top: 1px solid #aaa; /* adds a line above the total for clarity */
}

.discount-code {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.discount-code input {
    padding: 5px;
    font-size: 1em;
    margin-right: 10px;
}

.discount-code button {
    padding: 5px 10px;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
