/* src/components/cartModalContainer/CartModalContainer.css */
.cart-modal {
    width: 80%; /* Increased width */
    max-width: 1200px; /* Add a max-width to prevent it from becoming too large on very wide screens */
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow-y: auto; /* Ensure content is scrollable if it exceeds max height */
}

.cart-content {
    padding: 20px;
    font-family: Arial, sans-serif; /* Ensures text is readable */
}

.cart-items-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 500px; /* Set a maximum height */
    overflow-y: auto; /* Allow vertical scroll if content exceeds max height */
}

.cart-total, .final-total, .discount {
    margin-top: 10px;
    font-size: 1.1em;
    text-align: right;
    padding-top: 5px;
    border-top: 1px solid #aaa; /* Adds a line above the total for clarity */
}

.discount-code {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.discount-code input {
    padding: 5px;
    font-size: 1em;
    margin-right: 10px;
}

.discount-code button {
    padding: 5px 10px;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
