/* navbar.css */

.navbar {
    background-color: #8b0000; /* Cambia el color de fondo del navbar al rojo característico de Marvel */
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar-right .nav-link,
.navbar-right .wishlist-link {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-right .nav-link:hover,
.navbar-right .wishlist-link:hover {
    background-color: #f8f9fa;
    color: #007bff;
}

.navbar-left .dropdown-toggle {
    margin-right: 15px;
}

.navbar-right .btn {
    margin-left: 10px;
}

.brand-logo {
    margin-right: 20px;
}

.navbar-toggler {
    margin-right: 15px;
}
