.navbar {
    background-color: #343a40; /* Cambia el color de fondo del navbar a un tono más oscuro */
    padding: 15px 0; /* Espaciado interno del navbar */
}

.navbar-nav .nav-item {
    margin-right: 20px; /* Espaciado entre elementos del navbar */
}

.navbar-nav .nav-link {
    font-size: 18px; /* Tamaño de fuente de los enlaces */
    color: #ffffff; /* Color de texto de los enlaces */
    transition: all 0.3s ease; /* Transición suave */
}

.navbar-nav .nav-link:hover {
    color: #ffffff; /* Color de texto al hacer hover */
    background-color: rgba(255, 255, 255, 0.2); /* Fondo al hacer hover */
    border-radius: 5px; /* Bordes redondeados al hacer hover */
}
