/* ItemCount.css */
.item-count {
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f9fa; /* Color de fondo suave */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.item-count button {
    margin: 0 10px;
    color: #ffffff;
    background-color: #007bff; /* Color azul de Bootstrap */
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.item-count button:disabled {
    background-color: #cccccc;
}

.item-count span {
    font-size: 1.5rem;
    margin: 0 20px;
}

.item-count .btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-count .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
}

.item-count .fa-shopping-cart, .item-count .fa-plus, .item-count .fa-minus {
    margin-right: 5px;
}
