/* Ensures that all flex children (col-* divs) are the same height */
.row {
    display: flex;
    flex-wrap: wrap;
}

.row .col-sm-6.col-md-4.col-lg-3.mb-4 {
    display: flex;
    flex-direction: column; /* Stack the contents vertically */
}

.row .col-sm-6.col-md-4.col-lg-3.mb-4 .card {
    flex: 1; /* Makes the card fill the column */
    display: flex;
    flex-direction: column;
}

.row .col-sm-6.col-md-4.col-lg-3.mb-4 .card-body {
    flex-grow: 1; /* Ensures the body takes up all available space pushing the footer down */
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space between content and footer within the card */
}
