/* src/components/purchaseHistoryWidget/PurchaseHistoryWidget.css */
.history-icon {
    width: 2.5rem;
    height: 1.5rem;
}

.history-widget-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}
